
@import "./colors.scss";

::selection {
  background: $primary-transparent; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $primary-transparent; /* Gecko Browsers */
}

.app-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top: 50px;
}

.logo {
  font-size: 4em;
  height: 35vmin;
  pointer-events: none;
}

.subtext {
  margin-bottom: 2em;
}