* {
  box-sizing: border-box;
}

p {
  font-size: 40px;
}

.slider {
  padding-top: 50px;
  width: 100vw;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100vw;
  height: calc(100vh - 80px);
  background-image: url("/landing/shad-defi.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.slider > a {
  display: inline-flex;
  width: 0.5rem;
  height: 0.5rem;
  background: grey;
  opacity: 50%;
  border-radius: 50%;
  margin: 0.2rem;
  position: relative;
}
.slider > a:active {
  background: red;
}
.slider > a:focus {
  background: #000;
}
