@import "../../colors.scss";

.balance {
  font-size: 18px;
  font-weight: 600;
  color: $primary;
}

.balance:hover {
  text-decoration: underline;
  cursor: pointer;
}

.amount {
  text-align: center;
  font-size: 18px !important;
  font-weight: 500;
}

.symbol {
  text-align: center;
  position: absolute;
  left: 50%;
  margin: 12px 0 0 10px;
}

