@import "../../colors.scss";

.card {
  z-index: 10;
  transform: scale(1);
  transition-duration: 0.2s;
  margin: 0 0 20px !important; // I don't feel like figuring out how to override it without this.
  text-decoration: none;
  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12),
      0 4px 8px rgba(78, 102, 222, 0.5);
    transform: scale(1.05);
    transition-duration: 0.2s;
  }

  &.disabled {
    cursor: default;
  }

  &.disabled:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.06);
    transform: scale(1.01);
    transition-duration: 0.1s;
  }

  .cta {
    width: 80%;
    margin-top: 10px;
  }
}

.card-link {
  color: $default-text;

  &:hover {
    color: $default-text;
  }
}

h1 {
  font-family: "Biryani";
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 42px;
}

h2 {
  font-family: "Biryani";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 58px;
  /* identical to box height, or 133% */
}

h4 {
  font-family: "Biryani";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

p {
  font-family: "Biryani";
  font-size: 12px;
  color: #747575;
  line-height: 24px;
}

a {
  text-decoration: none!important;
}