.explore {
    text-align: right;
    padding: 0;
    margin-bottom: 10px;
  }
  .coming-soon {
    cursor: default !important;
    color: #a8b7f0;
    &:hover {
      color: #a8b7f0 !important;
    }
  }