/*TODO: replace colors with sass vars*/
@import "../../colors.scss";

.background {
  z-index: -99;
  background: $bg;
  width: 100%;
  height: 100%;
  position: fixed;
}

.bg-container {
  z-index: -98;
  box-sizing: border-box;
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.bg-inner {
  z-index: -97;
  position: relative;
  border-top: 40vh solid $bg-top;
  border-right: 40vw solid transparent;
  border-bottom: 120vh solid transparent;
  border-left: 40vw solid $bg-left;
}