@import "../../colors.scss";

.title {
  font-family: "Biryani";
  font-weight: 900;
  font-size: 40px;
  line-height: 60px;
}

.subtext {
  font-family: "Biryani";
  font-weight: 600;
  font-size: 20px;
}

.bold {
  font-weight: 900;
}

.highlight {
  color: $primary !important;
}

.step {
  margin: 2em 0;
}

.step-label {
  line-height: 2;
  font-weight: 900;
}

.step-text {
  line-height: 1.5;
}

.friends {
  margin: 10% 10%;
  line-height: 1.5;
  font-weight: 900 !important;
}